@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #232741 !important;
}

@media print {
  @page {
      /* A4 */
      size: 210mm 297mm;
      margin-top: 0;
      margin-bottom: 0;
  }
  body {
      padding-top: 72px;
      padding-bottom: 72px;
  }
  .wrapper {
    overflow: hidden;
  }
  #print {
    display: none;
  }
  #tsparticles {
    visibility: hidden;
  }
}